<div class="container">
  <div class="row mb-4">
    <div class="offset-md-3 col-md-3 mb-3">
      <input class="form-control" type="search" placeholder="Search" />
    </div>
    <div class="col-md-2">
      <select #selectedOption (change)="onOptionSelected(selectedOption)" class="form-select">
        <option selected>All Categories</option>
        <option [value]='category' *ngFor="let category of categories">{{category}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-4" *ngFor="let product of products">
    <app-product [item]="product" [id]="product.id"></app-product>
    </div>
  </div>
</div>
