<div class="container mb-3 pt-3">
<div class="row" *ngIf="products.length">
  <div class="col-md-12">
    <div class="info d-flex justify-content-between align-items-center mb-5">
      <h3 class="text-primary">You have {{products.length}} products in your cart</h3>
      <button (click)="clearAll()" class="btn btn-danger">Clear All Cart</button>
    </div>
  </div>
  <div class="col-md-12">
    <table class="table table-striped text-center">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Image</th>
          <th scope="col">Title</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Total</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of products; let i = index">
          <th class="counter" scope="row">{{ i + 1 }}</th>
          <td>
            <img
              [src]="item.product.image"
              alt="{{ item.product.title }}"
            />
          </td>
          <td>{{ item.product.title | wordLimit : 5 }}</td>
          <td>{{ item.product.price }} EGP</td>
          <td >
            <span (click)="increaseQun(i)" class="increase text-white bg-secondary rounded-2">+</span>
            <span class="quantity d-inline-block">{{item.Quantity}}</span>
            <span (click)="decreaseQun(i)" class="decrease text-white bg-secondary rounded-2">-</span> 
          </td>
          <td>{{ (item.product.price * item.Quantity).toFixed(3) }} EGP</td>
          <td class="text-danger" style="cursor:pointer"><i class="fa-solid fa-trash-can" (click)="onDelete(item.product.id)"></i></td>
        </tr>
      </tbody>
    </table>
    <div class="total-price">
      <h3 class="text-end text-primary">Total : {{calTotalPrice().toFixed(3)}} EGP</h3>
    </div>
  </div>
</div>
</div>

<div class="cart-empty text-center text-primary mt-5 pt-5" *ngIf="!products.length">
  <h2 class="mb-5">Cart is Empty</h2>
  <i class="fa fa-shopping-cart"></i>
</div>

